.claude/
.rake_tasks~
README.html
README.md
pkgdown/
*.swp
inst/extdata/badges/*.svg
*png
codecov.yml
collections
pdf
previews
svg
tmp
TODO.rst
bookmarks.txt
data-raw/meeple[23].svg
data-raw/cc-assets/
data-raw/spdx_license_list.html
data-raw/spdx.json
tests/testthat/Rplots.pdf
