.rake_tasks~
README.html
README.md
pkgdown/
*.swp
inst/extdata/badges/*.svg
*png
codecov.yml
collections
pdf
previews
svg
tmp
TODO.rst
bookmarks.txt
raw-data/meeple[23].svg
raw-data/cc-assets/
raw-data/spdx_license_list.html
